@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
  font-family: 'Roboto', sans-serif;
}

.container {
        background: #ECF4FF;
        color: #1C1C1C;
        margin: 55px;
        padding: 32px;
        border-radius: 20px;
        box-shadow: 6px 6px 6px #0E1D2F;
  
}
  .cabecalho {
      display: flex;
      justify-content: space-between;
      
}

.perfil {
        display: flex;
        
}     
.perfil-foto {
        border-radius: 460px;
        max-height: 150px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulo {
        margin-left: 16px;
}

.titulo h1 {
       font-weight: 700;
       font-size: 36px;
}

.titulo h4 {
       font-weight: 400;
       font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  backgroond: #ecf4ff;
  border-radius: 100px;
  
}

.projetos {
       display: flex;
       flex-direction: column;
       background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
       margin-top: 32px;
       padding: 32px;
       box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
       border-radius: 20px;
}

.projetos-titulos {
  list-style: none;
  font-wight- 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  
}

.projetos-item a {
  color: #1C1C1C;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}

.dark .container {
  background: #333439; 
  color: #F6F6F6;
   
}

.dark .projetos {
   color: #1C1C1C;
}

.dark .tema button {
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #F7F7F7;
  
}